<footer>


    <div class="container-fluid my-big-footer">
        <div class="row text-center p-5">


            <div class="col-sm-4 my-location ps-3 pe-3 pt-5 pb-3">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>

            <div class="col-sm-4 my-location ps-3 pe-3 pt-5 pb-3">
                <h3 class="mb-2">AROUND THE WEB</h3>
                <div class="my-social-links d-flex justify-content-center align-content-center">
                    <div class="my-icon me-2"><i class="fa-brands fa-facebook"></i></div>
                    <div class="my-icon me-2"><i class="fa-brands fa-twitter"></i></div>
                    <div class="my-icon me-2"><i class="fa-brands fa-linkedin-in"></i></div>
                    <div class="my-icon me-2"><i class="fa-solid fa-globe"></i></div>
                </div>
            </div>

            <div class="col-sm-4 my-location ps-3 pe-3 pt-5 pb-3">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>


        </div>
    </div>

    <div class="my-small-footer p-3 text-center">
        <p class="pt-2 mb-2">Copyright © Your Website 2021</p>
    </div>

</footer>