<div style="margin-top: 105px; min-height: calc(-120px + 100vh);"
    class="middle-content d-flex flex-column justify-content-center align-items-center">
    <div class="my-image-box mb-3">
        <img src="my-photo.svg" alt="my photo" class="my-image">
    </div>
    <div class="my-main-text d-inline-block pt-4">
        <h2 class="mb-3">START FRAMEWORK</h2>
        <div class="my-two-lines d-flex justify-content-center align-items-center mb-3">
            <div class="my-left-line "></div>
            <i class="fa-solid fa-star" style="color: #ffffff;"></i>
            <div class="my-right-line"></div>
        </div>
    </div>

    <div class="my-bio">Graphic Artist - Web Designer - Illustrator</div>
</div>